.S08R16 {
    display: flex;
    justify-content: center;
    background-color: transparent !important;
}

.L81Z53 {
    position: fixed;
    background-color: transparent !important;
    border-radius: 10px;
    border: 1px solid #262626;
    padding: 20px 15px;
    margin-top: 20px;
    transition:transform 0.5s ease;
    z-index: 1000;
}

.L81Z53:hover {
    transform: scale(1.05);
}

.navbar-items {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style-type: none;
}


.F14W46 {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: gray;

    text-decoration: none;
    margin: 0 18px;
    transition: color 0.5s ease-out;

}
.F14W46:hover {
    color: aliceblue;
}

.Separator {
    width: 10px;
    background-color: gray;
}